h1 {

    text-align: center;
    margin-bottom: 50px;
}

body {
    font-family: Arial;
}

.submit_button {
    background-color: black;
            color: white;
            border: none;
            height: 30px;
            width: 80px;
            border-radius: 5px;
            cursor: pointer;
}

.questions {
    display: flex;
    justify-content: center;
}