<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dutch Grammar</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <div class="sidemenu">
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/present_tense}">Present tense</a></li>
            <li><a th:href="@{/het_de}">Het and de</a></li>
            <li><a href="#">Contact</a></li>
        </ul>

    </div>

    <h1>Dutch Grammar Exercises</h1>

</body>
</html>